<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= "/avatar/default_user_avatar.jpg" %>" >
      <h2><%=@user.name %></h2>
      <p><%=@user.email %></p>
    </div>
  </div>
</div>