<div class="about-main">
<div class="about-main_container">
  <h2>Bulkfriendsとは</h2>
  <p>Bulkfriendsは筋肉を愛する人達に向けたSNSサービスです。</p>
  <p>他のユーザーと楽しく筋肉に関するコミュニケーションできます。</p>
  <p>そして、気の合う方と一緒にトレーニングをすることで、より良い筋肉を育てあげましょう！</p>
  <img src="/2698_ext_01_0.jpg" width="60%" height="60%">
</div>